// Colours

$color-primary: #9869f4;
$color-primary-dark: #a100f2;

$color-secondary: #db00b6;
$color-secondary-light: #f20089;

$color-black: #080808;
$color-white: #ddd;
$color-grey: #777;

$color-background-dark: #171717;
// $color-background-dark: #1f1f1f;

$text-color-primary: $color-white;

$font-size-default: 1rem;
$font-size-small: 2rem;
$font-size-medium: 4rem;

$letter-spacing-small : 1.5rem;
