.project-heading {
    display: inline-block;
    font-size: 2.5rem;
    background-image: linear-gradient(
      to right,
      $color-primary-dark,
      $color-secondary-light
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 400;
  }
  
  .cards{
      margin-top: 5rem;
      display: grid;
      grid-gap: 10rem;
      grid-template-columns: repeat(2, 1fr);
  }


  .card {
    // Functionality
    height: 50rem;
    width: 30rem;
    margin: auto;
    font-size: 2.5rem;
  
    position: relative;
    font-size: 1rem;
    perspective: 150rem;
    -moz-perspective: 150rem;
  
    // &:hover &__side,
    // &:active &__side {
    //   transform: rotateY(180deg);
    // }
  
    &__side {
      height: 50rem;
      transition: all 0.8s ease;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      backface-visibility: hidden;
  
      border-radius: 3px;
      // to stop any child from overflowing
      // used here for to stop the card img from overflowing
      overflow: hidden;
  
      &--front {
        background-color: rgba($color: #fff, $alpha: 0.1);  
      }
  
      &--back {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 3rem;
        transform: rotateY(180deg);
  
        background-image: linear-gradient(
          to right bottom,
          $color-primary-dark,
          $color-secondary-light
        );
      }
    }
  
    &:hover &__side--front,
    &:focus &__side--front,
    &__side--front:active 
    {
      // transform: rotateY(-180deg);
    }
  
    &:hover &__side--back,
    &:focus &__side--back,
    &__side--front:active ~  &__side--back {
      // transform: rotateY(0);
    }
  
    &__side--back:active{
      transform: scale(2);
    }
  
    // Card Frontside Styling
    &__picture {
      height: 40%;
      background-size: cover;
      // blends the linear gradient with the img
      background-blend-mode: screen;
      clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  
      
        background-image: url("../images/img2.png");
        background-position: 0;
        background-size: cover;
        background-repeat: no-repeat;
    }
  
    &__heading {
      color: $color-white;
      font-size: 2.8rem;
      font-weight: 300;
      text-transform: uppercase;
      text-align: right;
      position: absolute;
      top: 12rem;
      right: 2rem;
      width: 75%;
    }
  
    &__heading-span {
      padding: 1rem 1.5rem;
      // "clones" all the declarations to every box created by an element
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;
  
    }
  
    &__details {
      height: 60%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 2rem;
      font-size: 1.5rem;
      line-height: 1.5;
    }
  
    // Card Backside Styling
    &__domain-box{
      margin-bottom: 2rem;
      width: 100%;
      text-align: center;
    }
  
    &__domain-heading{
      font-size: 2.5rem;
      letter-spacing: 1px;
      text-align: center;
      padding-bottom: .75rem;
      margin-bottom: .5rem;
    }
  
    &__domain-item{
      font-size: 1.5rem;
      font-weight: 100;
      display: block;
      line-height: 1.6;
    }
  
  
    
  }
  