*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  background-color: $color-background-dark;
}
// below 600
// @media screen and (max-width: 600px) {
//   .card {
//     height: 70rem !important;

//     &__side {
//       height: 70rem !important;
//     }
//   }

//   .container {
//     scroll-snap-type: none !important;
//     // overflow-y: hidden !important;
//   }

//   .btn {
//     padding: 0.75rem 1.25rem !important;
//   }

//   .navbar {
//     font-size: 1.25rem !important;
//     font-weight: 600 !important;

//     padding: 0 !important;
//   }

//   .pargraph {
//     font-size: 1.5rem !important;
//   }




// }

// @media screen and (max-width: 900px) {
//   section {
//     padding: 5rem;
//   }

//   .cards {
//     grid-template-columns: repeat(1, 1fr) !important;
//   }

//   .gradient-circle-small {
//     visibility: hidden;
//   }
// }
