*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-color: $color-background-dark;
}

.container {
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  overflow-x: hidden;
}

section {
  color: whitesmoke;
  scroll-snap-align: end;
  padding: 10rem 25rem;
}

// below 600
@media screen and (max-width: 600px) {
  .card {
    height: 70rem !important;

    &__side {
      height: 70rem !important;
    }
  }

  .container {
    scroll-snap-type: none !important;
    // overflow-y: hidden !important;
  }

  .btn {
    padding: 0.75rem 1.25rem !important;
  }

  .navbar {
    font-size: 1.25rem !important;
    font-weight: 600 !important;

    padding: 0 !important;
  }

  .pargraph {
    font-size: 1.5rem !important;
  }

  .heading-primary {
    &-main {
      font-size: 6rem !important;
      letter-spacing: 0.5rem !important;
      font-weight: 400 !important;

      // animation: fade-in 2.75s 0s, move-in-from-top 0.5s 2.75s;
    }

    &-sub {
      font-size: 1.75rem !important;
      font-weight: 400 !important;
    }
  }

  .gradient-circle {
    left: -30% !important;
    top: 40% !important;
  }

  section {
    padding: 3rem !important; scroll-snap-align: none !important;
  }
}

@media screen and (max-width: 900px) {
  section {
    padding: 5rem;
  }

  .cards {
    grid-template-columns: repeat(1, 1fr) !important;
  }

  .gradient-circle-small {
    visibility: hidden;
  }
}
